html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 12px;
    }
}


* {
  box-sizing: border-box;
}

/* a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

.textpoint > text {
  stroke: white;
  stroke-width: 1px;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: underline transparent;
  transition: 0.25s ease-in-out;
}

a:hover {
  text-decoration-color: currentColor;
}

.max-width-container {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

li {
  margin: 8px 0px 8px 0px;
}